# (C) Copyright 2020 ECMWF.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.

name: Build Linux

on:

  workflow_dispatch: {}

  release:
    types: [created]

  repository_dispatch:
    types: [eccodes-updated, magics-updated]

jobs:
  build:

    runs-on: ubuntu-latest
    container: dockcross/manylinux2014-x64:latest

    name: Build manylinux2014

    steps:
      - uses: actions/checkout@v2

      - run: ./scripts/build-linux.sh

      ################################################################
      - run: ./scripts/wheel-linux.sh 3.6
      - uses: actions/upload-artifact@v2
        name: Upload wheel 3.6
        with:
          name: wheel-manylinux2014-3.6
          path: wheelhouse/*.whl

      ################################################################
      - run: ./scripts/wheel-linux.sh 3.7
      - uses: actions/upload-artifact@v2
        name: Upload wheel 3.7
        with:
          name: wheel-manylinux2014-3.7
          path: wheelhouse/*.whl

      ################################################################
      - run: ./scripts/wheel-linux.sh 3.8
      - uses: actions/upload-artifact@v2
        name: Upload wheel 3.8
        with:
          name: wheel-manylinux2014-3.8
          path: wheelhouse/*.whl

      ################################################################
      - run: ./scripts/wheel-linux.sh 3.9
      - uses: actions/upload-artifact@v2
        name: Upload wheel 3.9
        with:
          name: wheel-manylinux2014-3.9
          path: wheelhouse/*.whl

  test:

    needs: build

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9"]

    runs-on: ubuntu-latest

    name: Test with ${{ matrix.python-version }}

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v2
        with:
          name: wheel-manylinux2014-${{ matrix.python-version }}

      - run: pip install *.whl

      - run: pip install -r tests/requirements.txt

      - run: pip freeze

      - run: env | sort

      - name: Get some data
        run: |
          curl -L http://download.ecmwf.int/test-data/magics/2m_temperature.grib -o data.grib
          curl -L https://github.com/ecmwf/climetlab/raw/master/docs/examples/test.grib -o climetlab.grib
          curl -L https://github.com/ecmwf/climetlab/raw/master/docs/examples/test.nc -o climetlab.nc
          ls -l
        working-directory: tests

      - run: pytest -v -s
        working-directory: tests

      - uses: actions/upload-artifact@v2
        with:
          name: tests-manylinux2014-${{ matrix.python-version }}
          path: tests/*.png

  deploy:

    if: ${{ github.event_name == 'release' }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9"]

    needs: [test, build]

    name: Deploy wheel ${{ matrix.python-version }}

    runs-on: ubuntu-latest


    steps:

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install twine

      - uses: actions/download-artifact@v2
        with:
          name: wheel-manylinux2014-${{ matrix.python-version }}

      - run: twine upload *.whl
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
